<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link  rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="container">
        <h1>Jovian Careers</h1>
        <img id="banner" src="/static/images/banner.jpg" alt="banner img">
        <h2>About Jovian</h2>
        <p class="body-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Et netus et malesuada fames ac turpis egestas maecenas.
            Netus et malesuada fames ac turpis. Eget nunc scelerisque viverra mauris.
            Sodales ut eu sem integer vitae justo eget magna.
            Scelerisque purus semper eget duis at tellus.
            Sed faucibus turpis in eu mi bibendum neque egestas.
            Elementum integer enim neque volutpat ac tincidunt vitae semper quis.
            Odio ut sem nulla pharetra diam sit amet. Ut lectus arcu bibendum at varius.
            In dictum non consectetur a erat nam at lectus urna.
            Viverra vitae congue eu consequat ac felis donec et.
            Morbi tristique senectus et netus et malesuada fames.
            Nam at lectus urna duis. Lobortis elementum nibh tellus molestie nunc non blandit massa.
            Amet risus nullam eget felis. Lectus vestibulum mattis ullamcorper velit.
        </p>
        <h2>Open Position</h2>
        <p class="body-text">TODO - Show the job here</p>
        <div style="text-align: center;">
            <button>Contact us</button>
        </div>
        
    </div>
    
</body>
</html>